body { 
	font-family: Calibri, sans-serif; 
	font-size: 16pt; 
	}
h1 {  text-align: right;
font-size: 4vw;}
h2 { font-size: 18pt;}
h3 { font-size: 16pt;}
h4 { font-size: 18pt;} 
h5 { font-size; 16pt;}
iframe {
  visibility: visible; 
  display: block;
  float: left;
  border: none;
  margin-top: 20px;
}
a.iframe {
  text-decoration: underline;
  color: blue;
}

span.n {
	white-space: nowrap;
}

caption.cap {
  background-color: lavender; 
  margin: 20px 0px 0px 0px;
  padding: 10px;
}

figure {
  float: left;
  padding: 10px;
  margin: 20px 20px 20px 20px;
}

figcaption.cap {
  background-color: lavender; 
  margin: 20px 0px 0px 0px;
  padding: 10px;
}

table {
	table-layout: auto;
	border-style: solid;
	border-width: thin;
	border-collapse: collapse;
	margin: 20px 20px 20px 20px;
	float: left;
	padding: 10px;
	text-align: center;
}

td.left-aligned { text-align: left; }
td.shaded { background-color: pink; }
td.shade {background-color: lavender; }
caption {
  caption-side: bottom;
  text-align: justify;
  font-size: 13pt;
  margin: 10px;
}
.box {
  font-size: 14pt;
  display: block;
  background-color: lightyellow;
  width: 70%;
  border:2px solid black;
  padding: 10px;
  margin-left: 15%;
  margin-bottom: 40px;
  margin-top: 20px; 
}
.smallbox {
  font-size: 14pt;
  display: block ;
  float: left;
  background-color: lightyellow;
  width: 50%;
  border:2px solid black;
  padding: 10px;
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 20px;
  margin-top: 20px;
  
}
.tinybox {
  font-size: 14pt;
  display: block ;
  float: left;
  background-color: lightyellow;
  width: 35%;
  border:2px solid black;
  padding: 10px;
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.supsub {
   display: inline-block;
   margin: -9em 0;
   vertical-align: -0.35em;
   line-height: 1.05em;
   font-size: 60%;
   text-align: left;
}



.citeAs {
  display: block;
  background-color: lightgrey;
  border-width: thin;
  border-style: solid;
  padding: 10px;
  margin: 5px;
}

.abstract {
  display: flow-root;
  background-color: lightyellow;
  border-width: thin;
  border-style: solid;
  margin: 15%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  border: 15%;
  text-align: justify;
  font-size: 14pt;
}


.MathJax {
  font-size: 1.0 em;
}

.topic {
  font-weight: bold;
}

tr, td {vertical-align: center;
	border-style: solid;
	border-width: thin;
	white-space: nowrap;
	text-align: center;
	padding: 3px;
  font-size: 13pt;
}
th {
	border-style: solid;
	border-width: thin;
	white-space: nowrap;
	text-align: center;
	padding: 5px;
  font-size: 13pt;
}
thead.reporttablehead { background-color:  lavender; }
tr:hover { background-color:  yellow; }

figure {
  float: left;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

nofigure {
  font-size: 13pt;
  border-style: solid;
  border-width: thin;
  float: left;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}


figcaption {
	caption-side: bottom;
  text-align: justify;
  font-size: 13pt;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0px;
  font-style: normal;
  font-family: Calibri, sans-serif;
  background-color: lavender;
}

.header {
  padding: 20px;
  text-align: right;
  background: lavender;
  color: black;
  font-size: 22px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img.cover {
  float: left;
}

#watermark-text {
  color: lightgrey;
  font-size: 120px;
  transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
}

#watermark {
  position: fixed;
  z-index: 0;
  background: white;
  display: block;
  min-height: 75%; 
  min-width: 75%;
  color: yellow;
  text-align: center;
  padding: 275px 0;
}

#topcontrol,
#content {
  position: relative;
  z-index: 1;
}

.table-of-contents {
  float: right;
  width: 25%;
  background: lavender;
  font-size: 0.8em;
  padding: 0.5em 0.2em 0.5em 1.0em;
  margin: 0 0 0.5em 0.5em;
  border-top: solid;
  border-top-color: white;
}

.table-of-contents ul {
   list-style-type:none;
   padding-left: 30px; ;
}

.table-of-contents li {
  margin: 0 0 0.25em 0;
  text-indent: -40px;
  list-style-type: none;
  padding: 2px;
}

.table-of-contents a {
  text-decoration: none;
}

.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}

li {
    list-style-position: inside;
	list-style-type: disc;
	padding: 2px;
}

li.numbered {
	list-style-position: inside;
	list-style-type: decimal;
	padding: 10px;
}

h3:target {
  animation: highlight 1s ease;
}
.tippy-box[data-theme~='nutass'] {
  background-color: lavender;
  color: black;
  padding: 4px 8px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  font-size: 11pt;
  font-style: normal;
  font-family: Calibri, sans-serif;
}





@keyframes highlight {
  from { background: yellow; }
  to { background: white; }
}