body { 
	font-family: Calibri, sans-serif; 
	font-size: 16pt; 
	}
h1 {  text-align: right;
font-size: 4vw;}
h2 { font-size: 18pt;}
h3 { font-size: 16pt;}
h4 { font-size; 18pt;} 
iframe {
  visibility: visible; 
  display: block;
  float: left;
  border: none;
  margin-top: 20px;
}
a.iframe {
  text-decoration: underline;
  color: blue;
}

span.n {
	white-space: nowrap;
}



table {
	table-layout: auto;
	border-style: solid;
	border-width: thin;
	border-collapse: collapse;
	margin-left: 20px;
	text-align: center;
	float: left;
	min-width: 35%;
	max-width: 60%;
}

td.left-aligned { text-align: left; }
td.shaded { background-color: pink; }
td.shade {background-color: lavender; }
caption {
  caption-side: bottom;
  text-align: justify;
  font-size: 13pt;
  margin: 10px;
}
.box {
  font-size: 14pt;
  display: grid ;
  background-color: lightyellow;
  width: 70%;
  border:2px solid black;
  padding: 10px;
  margin-left: 15%;
  margin-bottom: 40px;
  margin-top: 20px; 
}
.smallbox {
  font-size: 14pt;
  display: block ;
  float: left;
  background-color: lightyellow;
  width: 50%;
  border:2px solid black;
  padding: 10px;
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 20px;
  margin-top: 20px;
  
}
.tinybox {
  font-size: 14pt;
  display: block ;
  float: left;
  background-color: lightyellow;
  width: 35%;
  border:2px solid black;
  padding: 10px;
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.supsub {
   display: inline-block;
   margin: -9em 0;
   vertical-align: -0.35em;
   line-height: 1.05em;
   font-size: 60%;
   text-align: left;
}



.citeAs {
  display: block;
  background-color: lightgrey;
  border-width: thin;
  border-style: solid;
  padding: 10px;
  margin: 5px;
}

.abstract {
  display: flow-root;
  background-color: lightyellow;
  border-width: thin;
  border-style: solid;
  margin: 15%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  border: 15%;
  text-align: justify;
  font-size: 14pt;
}

span.capw150 {width: 150px} 
span.capw160 {width: 160px}
span.capw170 {width: 170px}
span.capw180 {width: 180px}
span.capw190 {width: 190px}
span.capw200 {width: 200px}
span.capw210 {width: 210px}
span.capw220 {width: 220px}
span.capw230 {width: 230px}
span.capw240 {width: 240px} 
span.capw250 {width: 250px} 
span.capw260 {width: 260px}
span.capw270 {width: 270px}
span.capw280 {width: 280px}
span.capw290 {width: 290px}
span.capw300 {width: 300px}
span.capw310 {width: 310px}
span.capw320 {width: 320px}
span.capw330 {width: 330px}
span.capw340 {width: 340px}
span.capw350 {width: 350px}
span.capw360 {width: 360px}
span.capw370 {width: 370px}
span.capw380 {width: 380px}
span.capw390 {width: 390px}
span.capw400 {width: 400px}
span.capw410 {width: 410px}
span.capw420 {width: 420px}
span.capw430 {width: 430px}
span.capw440 {width: 440px}
span.capw450 {width: 450px}
span.capw460 {width: 460px}
span.capw470 {width: 470px}
span.capw480 {width: 480px}
span.capw490 {width: 490px}
span.capw500 {width: 500px}
span.capw510 {width: 510px}
span.capw520 {width: 520px}
span.capw530 {width: 530px}
span.capw540 {width: 540px}
span.capw550 {width: 550px}
span.capw560 {width: 560px}
span.capw570 {width: 570px}
span.capw580 {width: 580px}
span.capw590 {width: 590px}
span.capw600 {width: 600px}
span.capw610 {width: 610px}
span.capw620 {width: 620px}
span.capw630 {width: 630px}
span.capw640 {width: 640px}
span.capw650 {width: 650px}
span.capw660 {width: 660px}
span.capw770 {width: 770px}

span.capw150, span.capw160, span.capw170, span.capw180,
span.capw190, span.capw200, span.capw210, span.capw220, 
span.capw230, span.capw240, span.capw250, span.capw260, span.capw270, span.capw280, span.capw290, span.capw300, span.capw310, span.capw320, span.capw330, span.capw340, span.capw350, span.capw360, span.capw370, span.capw380, span.capw390, span.capw400, span.capw410, span.capw420, span.capw430, span.capw440, span.capw450, span.capw460, span.capw470, span.capw480, span.capw490, span.capw500, span.capw510, span.capw520, span.capw530, span.capw540, span.capw550, span.capw560, span.capw570, span.capw580, span.capw590, span.capw600, span.capw610, span.capw620, span.capw630, span.capw640, span.capw650, span.capw660, span.capw770
{
  text-align: justify;
  font-size: 13pt;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  margin-top: 12px;
  margin-bottom: 0px;
  background-color: lavender; 
  hyphens: auto
}

.MathJax {
  font-size: 1.0 em;
}

.topic {
  font-weight: bold;
}

tr, td {vertical-align: center;
	border-style: solid;
	border-width: thin;
	white-space: nowrap;
	text-align: center;
	padding: 3px;
  font-size: 13pt;
}
th {
	border-style: solid;
	border-width: thin;
	white-space: nowrap;
	text-align: center;
	padding: 5px;
  font-size: 13pt;
}
thead.reporttablehead { background-color:  lavender; }
tr:hover { background-color:  yellow; }

figure {
  float: left;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

nofigure {
  font-size: 13pt;
  border-style: solid;
  border-width: thin;
  float: left;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}


figcaption {
	caption-side: bottom;
  text-align: justify;
  font-size: 13pt;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0px;
  font-style: normal;
  font-family: Calibri, sans-serif;
  background-color: lavender;
}

.header {
  padding: 20px;
  text-align: right;
  background: lavender;
  color: black;
  font-size: 22px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img.cover {
  float: left;
}

#watermark-text {
  color: lightgrey;
  font-size: 120px;
  transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
}

#watermark {
  position: fixed;
  z-index: 0;
  background: white;
  display: block;
  min-height: 75%; 
  min-width: 75%;
  color: yellow;
  text-align: center;
  padding: 275px 0;
}

#topcontrol,
#content {
  position: relative;
  z-index: 1;
}

.table-of-contents {
  float: right;
  width: 25%;
  background: lavender;
  font-size: 0.8em;
  padding: 0.5em 0.2em 0.5em 1.0em;
  margin: 0 0 0.5em 0.5em;
  border-top: solid;
  border-top-color: white;
}

.table-of-contents ul {
   list-style-type:none;
   padding-left: 30px; ;
}

.table-of-contents li {
  margin: 0 0 0.25em 0;
  text-indent: -40px;
  list-style-type: none;
  padding: 2px;
}

.table-of-contents a {
  text-decoration: none;
}

.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}

li {
    list-style-position: inside;
	list-style-type: disc;
	padding: 2px;
}

h3:target {
  animation: highlight 1s ease;
}
.tippy-box[data-theme~='nutass'] {
  background-color: lavender;
  color: black;
  padding: 4px 8px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  font-size: 11pt;
  font-style: normal;
  font-family: Calibri, sans-serif;
}





@keyframes highlight {
  from { background: yellow; }
  to { background: white; }
}