body { 
	font-family: Calibri, sans-serif; 
	font-size: 16pt; 
	}
h1 {}
h2 {}
h3 {}
h4 {} 
h5 { font-size: 16pt;}
h6 { font-size: 120%; margin-top: 5px; margin-bottom: 5px;}
iframe {
  visibility: visible; 
  display: block;
  float: left;
  border: none;
  margin-top: 20px;
}
a.iframe {
  text-decoration: underline;
  color: blue;
}
ul.padded{
  padding: 5px;
    margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}
ul.no-padding{
padding: 5px;
margin-top: 0;
margin-bottom:0px;
}
ul.small{
	font-size: small;
}
span.n {
	white-space: nowrap;
}
caption.cap {
  background-color: lavender; 
  margin: 20px 0px 0px 0px;
  padding: 10px;
}
mjx-container {
margin: 10px !important;
}
blockquote {
margin-bottom: 5px;
margin-top: 5px;
padding: 0px 0px 0px 0px;
}
p.shiftedfifty{
  margin-left: 50%;
}
p.shiftedtwenty{
  margin-left: 20%;
}
figure {
  float: left;
  padding: 10px;
  margin: 10px 10px 10px 10px;
}
figcaption.cap {
  background-color: lavender; 
  margin: 10px 0px 0px 0px;
  padding: 10px;
}
p.clearleft {
  clear:left;
}
div.table {overflow-x: auto;
float: left;
}
table {
	table-layout: auto;
	border-style: solid;
	border-width: thin;
	border-collapse: collapse;
	margin: 10px 10px 10px 10px;
	float: left;
	padding: 10px;
	text-align: center;
}
table.thirty {
  width: 30%
}
table.forty {
	width: 40%;
}
table.fifty {
	width: 50%;
}
table.sixty {
  width: 60%;
}
table.seventy {
  width: 70%;
}
table.ninenine {
	width: 99%;
}
table.condensed {
	table-layout: auto;
	border-style: solid;
	border-width: thin;
	border-collapse: collapse;
	margin: 20px 20px 20px 20px;
	float: left;
	padding: 10px;
	text-align: center;
}
table.center {
  width:99%;  
  float: none;
  margin-left: auto;
  margin-right: auto;
}
table.compressed {
	table-layout: auto;
	border-style: solid;
	border-width: thin;
	border-collapse: collapse;
	margin: 20px 20px 20px 20px;
	float: left;
	padding: 10px;
	text-align: center;
}
sup {
    vertical-align: text-top;
    font-size: 0.7em;
}
sub {
	vertical-align: text-bottom;
	font-size: 0.7em;
}
th.left-aligned {
  text-align: left;
}
th.shaded {
  background-color: pink;
}
th.shade {
  background-color: lavender;
}
td.left-aligned { text-align: left; 
}
td.shaded { background-color: pink; 
}
td.shade {background-color: lavender; 
}
caption {
	caption-side: bottom;
  text-align: justify;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0px;
  font-style: normal;
  font-family: Calibri, sans-serif;
  background-color: lavender;
}
.boxedtable {
  display: block;
  background-color: lightyellow;
  width: 94%;
  border:2px solid black;
  padding: 10px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 40px;
  margin-top: 20px;  
}
.yellowboxedtext {
  background-color: rgb(253, 236, 0); /*Yellow */
  border: 1px solid black;
  color: black;
  padding: 0px 2px 0px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.box {
  display: block;
  background-color: lightyellow;
  width: 80%;
  border:2px solid black;
  padding: 10px;
  margin-left: 10%;
  margin-bottom: 20px;
  margin-top: 20px; 
}
.smallbox {
  display: block ;
  float: left;
  background-color: lightyellow;
  width: 40%;
  border:2px solid black;
  padding: 10px;
  margin: 10px 10px 10px 10px;
}
.tinybox {
  display: block;
  float: left;
  background-color: lightyellow;
  width: 35%;
  border: 2px solid black;
  padding: 10px;
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.inlinetinybox {
  display: block;
  float: none;
  background-color: lightyellow;
  width: 35%;
  border: 2px solid black;
  padding: 10px;
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.supsub {
   display: inline-block;
   margin: -9em 0;
   vertical-align: -0.35em;
   line-height: 1.05em;
   text-align: left;
}
.citeAs {
  text-align: left;
  display: flow-root;
  background-color: lightgrey;
  border-width: thin;
  border-style: solid;
  padding: 10px;
  margin: 5px;
}
.abstract {
  display: block;
  background-color: lightyellow;
  border-width: thin;
  border-style: solid;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  margin-left: 2%;
  margin-right: 3%;
  text-align: justify;
}
.MathJax {
  font-size: 1.0 em;
}
.topic {
  font-weight: bold;
}
mybr {
    line-height: 10px;
 }
tr, td {vertical-align: center;
	border-style: solid;
	border-width: thin;
	white-space: nowrap;
	text-align: center;
}
tdsmall{	border-style: solid;
	border-width: thin;
	white-space: nowrap;
	text-align: center;
	padding: 5px;
}
th {	border-style: solid;
	border-width: thin;
	white-space: nowrap;
	text-align: center;
	padding: 5px;
}
thead.reporttablehead { background-color:  lavender; 
}
tr:hover { background-color:  yellow; 
}
figure {
  float: left;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0px;
}
nofigure {
  border-style: solid;
  border-width: thin;
  float: left;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}
figcaption {
	caption-side: bottom;
  text-align: justify;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0px;
  font-style: normal;
  font-family: Calibri, sans-serif;
  background-color: lavender;
}
.header {
  padding: 20px;
  text-align: right;
  background: lavender;
  color: black;
}
img.cover {
  float: left;
  margin-right:  20px;
  margin-bottom:  20px;
}
img.center {
	display: block;
	float: none;
  margin-left: auto;
  margin-right: auto;
}
img.hundred {
	width: 100%;
}
#watermark-text {
  color: lightgrey;
  transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
}
#watermark {
  position: fixed;
  z-index: 0;
  background: white;
  display: block;
  min-height: 75%; 
  min-width: 75%;
  color: yellow;
  text-align: center;
  padding: 275px 0;
}
#topcontrol,
#content {
  position: relative;
  z-index: 1;
}
.table-of-contents {
  width: 60%;
  float:right;
  background: lavender;
  padding: 0.5em 0.2em 0.5em 1.0em;
  margin: 0 0 0.5em 0.5em;
  border-top: solid;
  border-top-color: white;
}
.table-of-contents ul {
   list-style-type:none;
   padding-left: 30px;
}
.table-of-contents li {
  margin: 0 0 0.25em 0;
  text-indent: -40px;
  list-style-type: none;
  padding: 2px;
}
.table-of-contents a {
  text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}
li {
  list-style-position: inside;
  list-style-type: disc;
	padding: 2px;
}
h3:target {
  animation: highlight 1s ease;
}
.tippy-box[data-theme~='nutass'] {
  text-align: left;
  background-color: lavender;
  color: black;
  padding: 4px 8px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  font-style: normal;
  font-family: Calibri, sans-serif;
}
@keyframes highlight {
  from { background: yellow; }
  to { background: white; }
}